@* 
//Problem z klientem http
@page "/exchangeOffice"
@inject IBooksService BooksService
@if (ExchangeOfficeTable != null && ExchangeOfficeTable.Any())
{
    <div class="container mt-4">
        <h2 class="mb-4">Kursy Walut w Kantorze</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">Waluta</th>
                        <th scope="col">Kod</th>
                        <th scope="col">Średni Kurs</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ExchangeOfficeTable)
                    {
                        <tr>
                            <td>@item.Currency</td>
                            <td>@item.Code</td>
                            <td>@item.Mid</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="loading-content text-center">
        <div class="spinner-border text-primary" role="status">
        </div>
        <p class="mt-2">Trwa ładowanie danych...</p>
    </div>
}
@code {

    private List<NbpRate> ExchangeOfficeTable;
    protected override async Task OnInitializedAsync()
    {
        ExchangeOfficeTable = await BooksService.GetExchangeRates();
    }
} *@
