.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    transform: scale(1);
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.book-description {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-buttons {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 5px;
}

.hoverable-card:hover {
    transform: scale(1.05);
}

.loading-content {
    text-align: center;
}

.spinner-border {
    width: 3rem;
    height: 3rem;
}
